@import "./header.css";
@import "./navbar.css";
@import "./footer.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* Standard Elements */
img {
    max-width: 100%;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

li {
    list-style: none;
}

/* SECTIONS */
/* Common Hero */
.common_hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-position-y: 50%;
    background-image: linear-gradient(rgba(28, 28, 28, 0.38)), url(../assets/images/content/goal.svg);
    object-fit: cover;
    width: 100%;
    height: 75vh;
    padding: 3rem 2rem;
    box-shadow: 0 1px 4px 5px rgba(0, 0, 0, 0.1);
}

.common_hero h1 {
    color: var(--light-color);
    font-size: 5rem;
    margin-bottom: 1rem;
    font-weight: 900;
    text-shadow: 0 2px 16px rgba(0, 0, 0, 0.35);
}

.common_hero p {
    color: var(--light-color);
    font-size: 1.5rem;
    font-weight: 700;
    text-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

/* @MEDIA QUERIES - RESPONSIVE LAYOUT */
/* Responsive Design - @Media Queries */
@media screen and (max-width: 1024px) {
    .common_hero {
        background-position: center center;
        height: 90vh;
    }

    .common_hero h1 {
        font-size: 3.5rem;
    }

    .common_hero p {
        font-size: 1.2rem;
        text-align: center;
    }
}

@media screen and (max-height: 667px) {
    .common_hero {
        height: 150vh;
    }
}

@media screen and (max-width: 667px) {
    .common_hero {
        height: 65vh;
        padding: 3rem 1rem;
    }

    .common_hero h1 {
        font-size: 2.75rem;
    }
}

@media screen and (max-width: 478px) {
    .common_hero h1 {
        font-size: 2.15rem;
    }

    .common_hero p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 375px) {
    .common_hero {
        height: 50vh;
    }

    .common_hero h1 {
        font-size: 1.75rem;
    }

    .common_hero p {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 315px) {
    .common_hero h1 {
        font-size: 1.5rem;
    }

    .common_hero p {
        font-size: 0.7rem;
    }
}